@import url('https://fonts.googleapis.com/css?family=Raleway:regular,bold,italic&subset=latin,latin-ext');


body {
  background-color: #F7Deee;
  color: #000;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  /* font-weight: 100; */
  line-height: 1.5;
  text-align: center;
  box-sizing: border-box;
  /* width: 80%; */
  height: 100vh;
  /* margin: 0 10%; */
}

.nav {
  background-color: rgb(136, 10, 10);
  color: whitesmoke;
  margin: 0;
  padding: 0.2em;
  text-align: center;
  width: 100vw;
}

img {
  border-radius: 0.5em;
  width: 100%;
}

a {
  padding: 0.4em;
  margin: 0.4em;
  text-decoration: none;
}

input, textarea, button {
  font-family: 'Raleway', sans-serif;
  padding: 0.6em;
  margin: 0.5em;
  /* width: 100%; */
  font-size: 0.8em;
  border-radius: 0.5em;
}

input[type='submit'] {
  background-color: green;
  color: #fff;
  /* width: 75%; */
  margin: 0.5em;
  text-align: center;
}

.links {
  font-size: 0.8em;
  color: white;
}
/* input[type="submit"] {
  background-color: #009900;
  color: #fff;
  font-weight: bold;
} */
.submit {
  background-color: #009900;
  color: #fff;
  font-weight: bold;
}

.inactive {
  background-color: #006999;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

input.empty::placeholder {
  color: #ff0055;
}

.form-selector {
  /* display: flex; */
  justify-content: space-around;
  width: 86%;
  margin: 0 auto;
}

form {
  text-align: center;
}

.card {
  /* border: 1px #ff0055; */
  position: relative;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.1em 0.3em #000;
  margin: 0.8em;
  overflow-wrap: break-word;
}

.btn {
  position: relative;
  padding: 0.2em;
  margin: 0.2em;
  font-size: 0.8em;
  border-radius: 0.3em;
}

.delete {
  background-color: #ff0055;
  color: #fff;
}

.edit {
  background-color: #096155;
  color: #fff;
}

.cancel {
  background-color: slategrey;
  color: #fff;
}

@media screen and (min-width: 500px) {
  body {
    display: flex;
    flex-flow: column wrap;
    margin: 0 10%;
  }
  
}